// Body
$body-bg: #fbf9fa;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$primary-text: rgba(0, 0, 0, 0.87);
$secondary-text: rgba(0, 0, 0, 0.6);
$disabled-text: rgba(0, 0, 0, 0.2);
$blue-darker: #000e2a;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
