// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
  font-family: $font-family-sans-serif;
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $body-bg !important;
}

.h1 {
  color: $primary-text;
  font-size: 4rem;
  font-weight: 700;
}

.h2 {
  color: $primary-text;
  font-size: 3rem;
  font-weight: 700;
}

.h3 {
  color: $primary-text;
  font-size: 2rem;
  font-weight: 700;
}

p {
  margin-bottom: 0;
}

.text {
  color: $secondary-text;
  font-size: 1rem;
  font-weight: 400;
}

.emoji {
  color: #000000;
}

.accent-text {
  font-weight: 600;
}

.btn {
  padding: 0.75rem 1.62rem;
  font-size: 1.4rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0) !important;
}

.btn-primary {
  color: #ffffff !important;
  background-color: $btn-color !important;
  border: none !important;
  box-shadow: 3px 3px 25px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
}

.btn-form {
  color: #ffffff !important;
  font-size: 1rem;
  background-color: $btn-color !important;
  border: none !important;
  border-radius: 0.25rem;
  box-shadow: none;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.btn-form:hover {
  opacity: 0.9;
}

.btn-outline-success,
.btn-outline-danger {
  padding: 0.37rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.container {
  margin-top: 7rem;
}
