@import 'animations';

.blog-card {
  position: relative;
  display: flex;
  width: 100%;
  user-select: none;
  cursor: pointer;
}

.blog-card--gradient {
  display: none;
}

.blog-card.loading {
  cursor: default;
}

.blog-card.loading .blog-card__cover,
.blog-card.loading .blog-card__info__head--title,
.blog-card.loading .blog-card__info__head--tags,
.blog-card.loading .blog-card__info--date,
.blog-card.loading .blog-card__info--desc {
  width: fit-content;
  color: #c9c9c9 !important;
  background-color: #c9c9c9;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  animation-name: fadeBackground;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.blog-card.card-popular .blog-card__cover {
  margin-right: 2rem;
  width: 300px;
  min-width: 300px;
  height: 300px;
}

.blog-card.card-popular .blog-card__cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.blog-card.card-popular .blog-card__info {
  padding: 1.5rem 0;
}

.blog-card.card-popular .blog-card__info__head--title {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
}

.blog-card.card-popular .blog-card__info__head--tags,
.blog-card.card-popular .blog-card__info--date {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.75rem;
  font-weight: 400;
}

.blog-card.card-popular .blog-card__info--desc {
  font-size: 1rem;
  line-height: 1.12rem;
}

.blog-card.card-featured,
.blog-card.card-recent {
  flex-direction: column;
  height: 100%;
}

.blog-card.card-featured .blog-card__cover,
.blog-card.card-recent .blog-card__cover {
  margin-bottom: 2rem;
  width: 100%;
  height: 260px;
}

.blog-card.card-featured .blog-card__cover img,
.blog-card.card-recent .blog-card__cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.blog-card.card-featured .blog-card__info,
.blog-card.card-recent .blog-card__info {
  padding: 0 1rem;
  height: 100%;
}

.blog-card.card-featured .blog-card__info__head--title,
.blog-card.card-recent .blog-card__info__head--title {
  font-size: 1.12rem;
  font-weight: 500;
}

.blog-card.card-featured .blog-card__info__head--tags,
.blog-card.card-featured .blog-card__info--date,
.blog-card.card-recent .blog-card__info__head--tags,
.blog-card.card-recent .blog-card__info--date {
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.75rem;
  font-weight: 400;
}

.blog-card.card-featured .blog-card__info--desc,
.blog-card.card-recent,
.blog-card__info--desc {
  margin-bottom: 1rem;
}

@media screen and (max-width: 991px) {
  .blog__featured__container,
  .blog-card.card-featured {
    margin-bottom: 1rem !important;
  }

  .blog-card.loading .blog-card--gradient {
    background: linear-gradient(180deg, transparent 0%, transparent);
  }

  .blog-card--gradient {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 70%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .blog-card.card-popular .blog-card__info,
  .blog-card.card-featured .blog-card__info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    height: 100%;
  }

  .blog-card.card-popular .blog-card__cover,
  .blog-card.card-featured .blog-card__cover {
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
    min-width: unset;
    height: 250px;
  }

  .blog-card.card-popular .blog-card__cover img,
  .blog-card.card-featured .blog-card__cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .blog-card.card-popular .blog-card__info__head--title,
  .blog-card.card-featured .blog-card__info__head--title {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.87);
    font-size: 18px;
    font-weight: 500;
  }

  .blog-card.card-popular .blog-card__info__head--tags,
  .blog-card.card-popular .blog-card__info--date,
  .blog-card.card-featured .blog-card__info__head--tags,
  .blog-card.card-featured .blog-card__info--date {
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    font-weight: 400;
  }

  .blog-card.card-popular .blog-card__info--desc,
  .blog-card.card-featured .blog-card__info--desc {
    display: none;
  }

  .blog-card.card-recent {
    flex-direction: row;
  }

  .blog-card.card-recent .blog-card--gradient {
    display: none;
  }

  .blog-card.card-recent .blog-card__cover {
    margin-bottom: 0;
    width: 100px;
    min-width: 100px;
    height: 100px;
  }

  .blog-card.card-recent .blog-card__info__head--title,
  .blog-card.card-recent .blog-card__info__head--tags {
    margin-bottom: 0;
  }

  .blog-card.card-recent .blog-card__info--desc {
    display: none;
  }
}
