.editor .badge {
  margin-right: 0.5rem;
  font-weight: 500;
  cursor: pointer;
}

.editor .navbar {
  box-shadow: none;
}

.editor .fixed-bottom .container {
  margin-top: 0;
  padding-bottom: 0;
}

.editor .row {
  width: 100%;
}

.editor .fixed-bottom .container .btn {
  display: block;
  margin-top: 0;
}

.editor .dropdown-item {
  cursor: pointer;
}
