// Variables
@import 'variables';

.footer .container {
  padding-bottom: 2rem;
}

.footer--logo {
  margin-right: 1rem;
  width: 30px;
}

.footer--copy {
  color: $secondary-text;
  font-size: 0.8rem;
}
