// Variables
@import 'variables';

.skillsCore .col-12 {
  margin-bottom: 4rem;
}

.skillsCore__card {
  --transparency: 0.07;
  width: 100%;
  max-width: 1000px;
  padding: 4rem 7rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.skillsCore__card.css {
  background-color: $css;
}

.skillsCore__card.css .skillsCore__card--icon {
  --transparency: 0.5;
  background-color: $css;
}

.skillsCore__card.javascript {
  background-color: $javascript;
}

.skillsCore__card.javascript .skillsCore__card--icon {
  --transparency: 0.5;
  background-color: $javascript;
}

.skillsCore__card.laravel {
  background-color: $laravel;
}

.skillsCore__card.laravel .skillsCore__card--icon {
  --transparency: 0.5;
  background-color: $laravel;
}

.skillsCore__card--icon {
  margin-bottom: 1.3rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;

  img {
    width: 60%;
  }
}

.skillsCore__card--title {
  margin-bottom: 1.3rem;
}

.skillsSecond .row {
  margin-bottom: 4rem;
}

.skillsSecond--title {
  margin-bottom: 1.5rem;
}

.skillsSecond__container__item {
  --transparency: 0.07;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.skillsSecond__container__item.git {
  background-color: $git;
}

.skillsSecond__container__item.photoshop {
  background-color: $photoshop;
}

.skillsSecond__container__item.illustrator {
  background-color: $illustrator;
}

.skillsSecond__container__item.figma {
  background-color: $figma;
}

.skillsSecond__container .col-12 img {
  margin-bottom: 2rem;
}

.skillsSecond__container__item--name {
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.skillSecond__counter {
  margin-bottom: 2rem;
}

.skillSecond__counter--count {
  margin-right: 1rem;
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {
  .skillsCore__card {
    padding: 1rem;
  }
}
